@charset "UTF-8";

/* 전체 설정 */
html, body, header, section, h3 {
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕', 'Nanum Gothic', 'Verdana'; /* 요즘은 웹폰트 사용 */
}

a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: blue;}
a:active {text-decoration: none; color: blue;}
a:hover {text-decoration: none; color: blue;}

button, input[type=button], input[type=submit], input[type=search] {cursor:pointer; height:30px;}

/* section */
section {
	top:0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

/* section body : aside 없는 페이지에서 본문(contenst) 영역 */
#contents {
	width: 1400px;
	height: 100%;
	margin: 0 auto;
/* 	border: 2px solid black;	div 구분용 */
	display: flex;
}

/* section body > aside 		>> aside_area : aside 메뉴 영역 
				> contents_area 			  : 본문(contents) 영역 */
#aside {
	flex: 1;
	background-color: #e0e0e0;
}
#aside_area {
	padding:20px 2px 20px 2px;
}
#contents_area {
	flex: 7;
	background-color: #ffffff;
	text-align: center;
/*	border: 2px solid black;	 div 구분용 */
}

/* 검색 영역 */

#cls-list{
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cls-item{
	margin:40px;
	width: 200px;
	height: 200px;
}
