@charset "UTF-8";

/* footer */
footer{
	width: 100%;
	background: #8DBDC4;
    font-style: normal;
	font-weight: normal;
	align-items: center;
	color: #4F4F4F;
	position: fixed;
	bottom: 0;
 	left: 0;
}
#footerTextArea{
	width: 100%;
	height: 60px;
}

#footerTextArea1 {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

#footerTextArea2 {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}