@charset "UTF-8";

/* footer */
footer{

	bottom:0;
	width: 100%;
	height: 60px;
	background: #8DBDC4;
	/* position:absolute !important; */
    font-style: normal;
	font-weight: normal;
	display: block;
	align-items: center;
	color: #4F4F4F;
}
footerTextArea{
	width: 100%;
	height: 60px;
}

#footerTextArea1 {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

#footerTextArea2 {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}