@charset "UTF-8";

/* header */

header {
	top:0;
	width: 100%;
	height: 75px;
	background-color: #ffffff;
}
#nav_area {		/* 상단메뉴 영역 */
	width: 1400px;
	height: 75px;
	line-height:75px;
	margin: 0 auto;
/* 	border: 2px solid black;	div 구분용 */
	display: flex;
}
#nav_area1 {	/* e-쌤 로고 영역 */
	flex: 1;
}
#nav_area2 {	/* 카테고리 영역 */
	flex: 4;
}
#nav_area3 {	/* 검색 영역 */
	flex: 1;
	text-align: right;
}
#nav_area4 {	/* 회원메뉴 영역 */
	flex: 2;
	text-align: right;
}
#nav_cate1 {	/* 카테고리 */
	font-family: '나눔 고딕', 'Nanum Gothic', 'Verdana';
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	color: #333333;
}

/* 검색 영역 요소 */

#input_txt_src {	/* 검색어 입력박스(input) */
	width:160px;
	height:30px;
	border: 1px solid #bebebe;
	display:inline-block;
	vertical-align:middle;
	border-radius :3px;
}
#btn_src_div1 {		/* 검색버튼 div 1 */
	line-height:70px;
	vertical-align:middle;
	display:inline-table;
}
#btn_src_div2 {		/* 검색버튼 div 2 */
	height:30px;
	line-height:30px;
	display:table-cell;
	vertical-align:middle;
}

/* dropdown 설정 */
.dropdown-wrap a{ /* dropdown의 a태그 설정*/
	text-decoration: none; /* 밑줄 X */
	color: black; /* 글자색 */
	margin: 0;
	padding: 0;
}
.dropdown-wrap { /* dropdown 가로정렬 */
	display: flex;
	margin:16px 0px 14px 0px;
	justify-content: center;
	align-content: center;
}
.dropdown-menu-wrap {
	z-index: 20;
	position: relative;
}
.dropdown-sub-wrap { /* 서브메뉴 위치 absolute */
	z-index: 20;
	text-decoration: none; /* 밑줄 X */
	position: absolute;
  	list-style: none;
	background-color: #fff; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 
	border: 1px solid #ccc; 
	border: 1px solid rgba(0, 0, 0, .15); 
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu-wrap .dropdown-sub { /* 서브메뉴 숨기기 */
	/* background-color: white; */
	display: none;
}
.dropdown-menu-wrap:hover .dropdown-sub { /* 서브메뉴 보이기(hover) */
	display: flex;
}

/* 메뉴 요소 설정 */
.dropdown-main { /* 메뉴 크기 및 내용 정렬 */
	margin: 0;
	padding: 0;
	width: 100px;
	height: 40px;
	font-size: 20px;
		
	/* 요소 내용 가운데 정렬*/
	display: flex;
	justify-content: center;
	align-items: center;            
}
.dropdown-sub { /* 메뉴 크기 및 내용 정렬 */
	margin: 0;
	padding: 0;
	width: 100px;
	height: 34px;
	text-decoration: none; /* 밑줄 X */
	font-size: 16px;
		
	/* 요소 내용 가운데 정렬*/
	display: flex;
	justify-content: center;
	align-items: center;            
}
.dropdown-menu-wrap .dropdown-main { /* 메인메뉴 */
	background-color: white;
}
.dropdown-menu-wrap:hover .dropdown-main { /* 메인메뉴(hover) */
	background-color: #f4edd8;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
}
.dropdown-sub { /* 서브메뉴 */
	background-color: white;
}
.dropdown-sub:hover { /* 서브메뉴(hover)*/
	background-color: #eee;
}

/* 로그인 모달창영역 */
#mfooter{
	height: 50px;
	width: 200px;
	text-align: center;
}

#exampleModalLabel{
text-align:center;	
}
#loginModal{
	text-align:center;
	float:center;
}

#loginModal>input[type="submit"]{
	width: 250px;
	height: 36px;
	background: #3566A2;
	box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	border: none;
	cursor: pointer;
}

/* form의 label 설정*/
form label{
	margin: 0px;
	padding: 0px;
}