@charset "UTF-8";

/* nav */
nav {
	top:0;
	width: 100%;
	height: 75px;	
}

#nav_title {
	width: 1400px;
	height: 75px;
	line-height: 75px;
	margin: 0 auto;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: #FFFFFF;
}

.t_color {
	/* 강사 */
	background: #9E3C7E;
}

.s_color {
	/* 학생/관리자 */
	background: #3566A2;
}