<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.b.IBDao">

	<select id="getClassListNew" resultType="classbean">
	<![CDATA[
		SELECT /*+INDEX_DESC(CLASS PK_CLASS)*/ ROWNUM RN, CLASS.*
		FROM CLASS
		WHERE ROWNUM<=5
	]]>
	</select>
	<select id="getClassListMy" resultType="classbean" parameterType="string">
		SELECT C.clsNo,C.clsName,C.mbId FROM CLASS C JOIN STUDENT S ON C.clsNo=S.clsNo WHERE S.MBID=#{mbId}
	</select>
</mapper>