<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.c.ICDao">
	<select id="getTeacherProfile" resultType="teacherbean">
		SELECT TEACHER.*, MEMBER.MBNICKNAME FROM TEACHER LEFT JOIN MEMBER 
		ON TEACHER.MBID=MEMBER.MBID WHERE TEACHER.MBID=#{mbId}
	</select>
	
	<update id="teacherProfileUpdate" parameterType="teacherbean">
		UPDATE TEACHER 
		SET <if test="fileNo!=null">FILENO=#{fileNo},</if> TEACHERINTRO=#{teacherIntro}, TEACHERDETAIL=#{teacherDetail} 
		WHERE MBID=#{mbId}
	</update>
	
	<update id="teacherInfoDelete" >
		UPDATE TEACHER 
		SET FILENO=NULL, TEACHERINTRO=NULL, TEACHERDETAIL=NULL 
		WHERE MBID=#{mbId}
	</update>
	
	<select id="getCurriculumList" resultType="curriculumbean">
		SELECT * FROM V_CURRI WHERE CLSNO=#{clsNo}
	</select>
	
	<select id="getCurriculumRead" resultType="curriculumbean">
		SELECT * FROM V_CURRI WHERE CLSNO=#{clsNo} AND CURNO=#{curNo}
	</select>
	
	<insert id="classCurriculumAdd">
		<selectKey keyProperty="curNo" resultType="String" order="BEFORE">
			SELECT TO_CHAR(CURRI_SEQ.NEXTVAL) FROM DUAL
		</selectKey>
		INSERT INTO CURRI 
			(CURNO, CLSNO, CURTYPENO, FILENO, CURTITLE, CURSTARTDATE, CURENDDATE, CURDISC) 
		VALUES
			(#{curNo}, #{clsNo}, #{curTypeNo}, #{fileNo}, #{curTitle}, TO_DATE(#{curStartDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{curEndDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS'), #{curDisc})
	</insert>
	<update id="curFileInsert">
		UPDATE CURRI
		SET FILENO = #{fileNo}
		WHERE CURNO = #{curNo}
	</update>
	
	
	
	
	
</mapper>