<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.common.ICommonDao">
		<select id="getSearchList" resultType="classbean">
		SELECT *
		FROM (SELECT ROWNUM RN, C.*
			  FROM (SELECT *
			        FROM V_CLASSBEAN
			        WHERE 1=1
			        <if test="cate1No!=null">
			  	    AND CATE1NO = #{cate1No}
			        </if>
			  		<if test="cate2No!=null">
			  		AND CATE2NO = #{cate2No}
			  		</if>
			  		<if test="keywords!=null">
			  			<foreach collection="keywords" item="word">
			  				<if test='word!=null and !word.equals("")'>
			  				AND UPPER(CLSKEYWORD) LIKE '%' || UPPER(#{word}) || '%'
			  				</if>
			  			</foreach>
			  		</if>
			  		ORDER BY CLSOPENDATE DESC
			  		) C
			 )
		WHERE RN BETWEEN #{pageNo}*20-9 AND #{pageNo}*20
	</select>
</mapper>