<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.curriculum.ICurriculumDao">
	
	<select id="getCurriculumList" resultType="curriculumbean">
		<![CDATA[
      	 SELECT * FROM (
         SELECT ROWNUM RN, V_CURRI.*
         FROM V_CURRI
         WHERE CLSNO=#{clsNo} AND ROWNUM<=${pageNum}*10 ORDER BY CURSTARTDATE, CURNO )
         WHERE RN>=${pageNum}*10-9
        ]]>
	</select>
	
	<select id="getCurriculumRead" resultType="curriculumbean">
		SELECT * FROM V_CURRI WHERE CLSNO=#{clsNo} AND CURNO=#{curNo}
	</select>
	
	<insert id="classCurriculumAdd">
		<selectKey keyProperty="curNo" resultType="String" order="BEFORE">
			SELECT TO_CHAR(CURRI_SEQ.NEXTVAL) FROM DUAL
		</selectKey>
		INSERT INTO CURRI 
			(CURNO, CLSNO, CURTYPENO, FILENO, CURTITLE, CURSTARTDATE, CURENDDATE, CURDISC) 
		VALUES
			(#{curNo}, #{clsNo}, #{curTypeNo}, #{fileNo}, #{curTitle}, 
			<if test="curTypeNo==1">
			TO_DATE(#{curStartDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{curEndDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
			</if>
			<if test="curTypeNo==2">
			TO_DATE(#{curStartDate}, 'YYYY-MM-DD HH24:MI'), TO_DATE(#{curEndDate}, 'YYYY-MM-DD HH24:MI')
			</if>
			, #{curDisc})
	</insert>
	
	<update id="curFileInsert">
		UPDATE CURRI
		SET FILENO = #{fileNo}
		WHERE CURNO = #{curNo}
	</update>
	
	<select id="getRegiNo" resultType="String">
		SELECT REGINO FROM STUDENT WHERE MBID=#{mbId} AND CLSNO=#{clsNo}
	</select>
	
	<select id="isCurriTime" resultType="boolean">
		SELECT COUNT(*) FROM CURRI WHERE CURNO=#{curNo} AND SYSDATE BETWEEN CURSTARTDATE AND CURENDDATE
	</select>
	
	<select id="isAttendAlready" resultType="boolean">
		SELECT COUNT(*) FROM ATTEND WHERE CURNO=#{curNo} AND REGINO=#{regiNo}
	</select>
	
	<insert id="addAttend">
		INSERT INTO ATTEND (CURNO, REGINO) VALUES (#{curNo}, #{regiNo})
	</insert>
	
	<select id="getZoomLink" resultType="String">
		SELECT ZOOMLINK FROM CLASS WHERE CLSNO=#{clsNo}
	</select>
	
	<update id="classCurriculumUpdateServer" parameterType="curriculumbean">
		UPDATE CURRI 
		SET <if test="fileNo!=null">FILENO=#{fileNo},</if> CURTITLE=#{curTitle}, CURSTARTDATE=#{curStartDate}, CURENDDATE=#{curEndDate}, CURDISC=#{curDisc} 
		WHERE CURNO=#{curNo}
	</update>
	
	<update id="classCurriculumUpdateServerSil" parameterType="curriculumbean">
		UPDATE CURRI 
		SET CURTITLE=#{curTitle}, CURSTARTDATE=TO_DATE(#{curStartDate}, 'YYYY-MM-DD HH24:MI:SS'), CURENDDATE=TO_DATE(#{curEndDate}, 'YYYY-MM-DD HH24:MI:SS'), CURDISC=#{curDisc} 
		WHERE CURNO=#{curNo}
	</update>
	
	<select id="getCurriculumCount" resultType="int">
		SELECT COUNT(*) FROM CURRI WHERE CLSNO=#{clsNo}
	</select>
	
	<delete id="curriculumDelete">
		DELETE FROM CURRI WHERE CURNO=#{curNo}
	</delete>
	
</mapper>