<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.d.IDDao">

	<select id="getMemberInfo" resultType="MemberBean">
		SELECT * FROM MEMBER WHERE MBID=#{mbId}
	</select>
	
	<update id="memberUpdate">
		UPDATE MEMBER SET
		(mbNickname,	
		mbTel,
		mbAddr,
		mbBirth,
		mbGender) =
		(#{mbNickname},
		#{mbTel},
		#{mbAddr},
		#{mbBirth},
		#{mbGender}) WHERE
		MBID=#{mbId}
	</update>
	
	<delete id="deleteInterCate">
		DELETE FROM ${tablenm} WHERE MBID=#{mbId}
	</delete>
	
	<select id="getinterCate" resultType="int">
		SELECT 
		<if test='tablenm.equals("INTER_CATE1")'>
		cate1No
		</if>
		<if test='tablenm.equals("INTER_CATE2")'>
		cate2No
		</if>
		FROM ${tablenm} WHERE MBID=#{mbId}
	</select>
	
	<select id="getReplyList" resultType="replybean">
		SELECT R.*,M.MBNICKNAME,F.ORIGFILENAME
		FROM cls_brd_rep R
		LEFT OUTER JOIN MEMBER M
		ON R.MBID=M.MBID
		LEFT OUTER JOIN TB_FILE F
		ON R.FILENO=F.FILENO
		WHERE R.CLSBRDNO=#{clsBrdNo}
	</select>
	
	<insert id="addReply">
		INSERT INTO CLS_BRD_REP (clsBrdRepNo, clsBrdNo, mbId, fileNo, clsBrdRepDate, clsBrdRepContent)
		VALUES (#{clsBrdRepNo}, #{clsBrdNo}, #{mbId}, #{fileNo}, #{clsBrdRepDate}, #{clsBrdRepContent})
	</insert>
	
	<select id="getReply" resultType="replybean">
		SELECT R.*,M.MBNICKNAME,F.ORIGFILENAME
		FROM cls_brd_rep R
		LEFT OUTER JOIN MEMBER M
		ON R.MBID=M.MBID
		LEFT OUTER JOIN TB_FILE F
		ON R.FILENO=F.FILENO
		WHERE R.CLSBRDREPNO=#{clsBrdRepNo}
	</select>
	
	<update id="updateReply">
		UPDATE cls_brd_rep SET
		(fileNo,	
		clsBrdRepContent) =
		(#{fileNo},
		#{clsBrdRepContent}) 
		WHERE
		MBID=#{mbId} 
	</update>
	
	<delete id="deleteReply">
		DELETE FROM cls_brd_rep WHERE MBID=#{mbId} AND CLSBRDNO=#{clsBrdNo}
	</delete>

</mapper>