<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.member.IMemberDao">
	<insert id="memberJoin">
		INSERT INTO 
		MEMBER(
			MBID,
			MBTYPE,
			MBNAME,
			MBPWD,
			MBNICKNAME,
			MBTEL,
			MBADDR,
			MBBIRTH,
			MBJOINDATE,
			MBGENDER
			) 
		VALUES(
			#{mbId},
			#{mbType},
			#{mbName},
			#{mbPwd},
			#{mbNickName},
			#{mbTel},
			#{mbAddr},
			#{mbBirth},
			SYSDATE,
			#{mbGender}
			)
	</insert>
	
	<select id="getMemberInfo" resultType="memberbean">
		SELECT * FROM MEMBER WHERE MBID=#{mbId} AND ROWNUM=1
	</select>
	
	<select id="checkEmail" resultType="boolean">
		SELECT COUNT(*) FROM MEMBER WHERE MBID=#{mbId} AND ROWNUM=1
	</select>
</mapper>