<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.essam.www.member.IMemberDao">
	<insert id="memberJoin">
		INSERT INTO 
		MEMBER(
			MBID,
			MBTYPE,
			MBNAME,
			MBPWD,
			MBNICKNAME,
			MBTEL,
			MBADDR,
			MBBIRTH,
			MBJOINDATE,
			MBGENDER
			) 
		VALUES(
			#{mbId},
			#{mbType},
			#{mbName},
			#{mbPwd},
			#{mbNickName},
			#{mbTel},
			#{mbAddr},
			#{mbBirth},
			SYSDATE,
			#{mbGender}
			)
	</insert>
	
	<insert id="putInterCate">
		INSERT INTO ${tablenm} VALUES (#{mbid}, #{cateno})
	</insert>
	
	<select id="getMemberInfo" resultType="memberbean">
		SELECT * FROM MEMBER WHERE MBID=#{mbId} AND ROWNUM=1
	</select>
	
	<select id="checkEmail" resultType="boolean">
		SELECT COUNT(*) FROM MEMBER WHERE MBID=#{mbId} AND ROWNUM=1
	</select>
	
	<select id="getMyClassList" resultType="classbean">
		SELECT * 
		FROM V_CLASSBEAN
		<if test="mbtype==2">
		WHERE MBID=#{mbid}
		</if>
		<if test="mbtype==1">
		WHERE CLSNO IN
			(
				SELECT C.CLSNO
				FROM CLASS C
				JOIN (
					SELECT STUDENT.CLSNO CLSNO
					FROM STUDENT
					WHERE STUDENT.MBID = #{mbid}
					) S
				ON C.CLSNO = S.CLSNO
			)
		</if>
	</select>
	
	<insert id="putTeacher" parameterType="String">
		INSERT INTO TEACHER(MBID,TEACHERGRADE) VALUES(#{mbId}, 0)
	</insert>
	
	<update id="changePassword">
		UPDATE MEMBER 
		SET MBPWD = #{mbPwd} 
		WHERE MBID = #{mbId}
	</update>
	
	<select id="getTeacherProfile" resultType="teacherbean">
		SELECT TEACHER.*, MEMBER.MBNICKNAME FROM TEACHER LEFT JOIN MEMBER 
		ON TEACHER.MBID=MEMBER.MBID WHERE TEACHER.MBID=#{mbId}
	</select>
	
	<update id="teacherProfileUpdate" parameterType="teacherbean">
		UPDATE TEACHER 
		SET <if test="fileNo!=null">FILENO=#{fileNo},</if> TEACHERINTRO=#{teacherIntro}, TEACHERDETAIL=#{teacherDetail} 
		WHERE MBID=#{mbId}
	</update>
	
	<update id="teacherInfoDelete" >
		UPDATE TEACHER 
		SET FILENO=NULL, TEACHERINTRO=NULL, TEACHERDETAIL=NULL 
		WHERE MBID=#{mbId}
	</update>
	
	<!-- @Author 고연미 -->
	<select id="hasClassJoin" resultType="int">
		SELECT COUNT(*) FROM STUDENT 
		WHERE clsNo=#{clsNo} AND mbId=#{mbId} AND ROWNUM=1	
	</select>
	<insert id="classJoin">
		INSERT INTO STUDENT 
			(regiNo, clsNo, mbId, regiStartDate)
		VALUES 
			(STUDENT_SEQ.NEXTVAL, #{clsNo}, #{mbId}, DEFAULT)
	</insert>
	
	<update id="memberUpdate">
		UPDATE MEMBER SET
		mbNickname = #{mbNickName},	
		mbTel = #{mbTel},
		mbAddr = #{mbAddr},
		mbBirth = #{mbBirth},
		mbGender = #{mbGender}
		WHERE
		MBID=#{mbId}
	</update>
	
	<delete id="deleteInterCate">
		DELETE FROM ${tablenm} WHERE MBID=#{mbId}
	</delete>
	
	<select id="getinterCate" resultType="int">
		SELECT 
		<if test='tablenm.equals("INTER_CATE1")'>
		cate1No
		</if>
		<if test='tablenm.equals("INTER_CATE2")'>
		cate2No
		</if>
		FROM ${tablenm} WHERE MBID=#{mbId}
	</select>
</mapper>