<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper(sql문) 작성 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스의 경로를 적음 -->
<mapper namespace="com.essam.www.test.ITestDao">
	<select id="add" parameterType="testbean" resultType="int">
		SELECT #{a}+#{b} FROM DUAL
	</select>

</mapper>